
<h3>{{category.name}}</h3>
<br>

<table class="table" border="1">
    <thead>
        <tr>
            <th scope="col">Nome Perfil</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        {{#each profiles}}
            <td>{{this.name}}</td>
            <td>{{this.userIdentify}}</td>
            <td><button onclick="deleteItem('{{this.id}}')">Deletar</button></td>
        {{/each}}
    </tbody>
</table>

<form action="/categoria/addProfile/{{category._id}}" method="post">
    <div class="form-group" id="div-profile">
        <div class="col-2">
            <label for="">Adicionar username de perfil</label>
            <input type="text" class="form-control" name="profile[]" placeholder="username..">
        </div>
    </div>
    <div class="my-4">
        <button onclick="add_profile()" id="newRoom"
            class="me-4 btn btn-success text-light fs-6 d-flex justify-content-around align-self-center">
            <i class="fa fa-plus-circle me-1 mt-1" aria-hidden="true"></i> <span>Novo perfil</span> </button>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    function add_profile() {
        event.preventDefault();
        const div = document.getElementById('div-profile');
        div.innerHTML +=
            `<div class="col-2">
                    <input type="text" class="form-control" name="profile[]" placeholder="username..">
                </div>`
    }

    function deleteItem(id) {
        result = confirm('Deseja excluir perfil?');
        if(result){
            fetch(`/categoria/deleteProfile/${id}`, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Item excluído com sucesso:', data);
                    window.location.reload();
                    // Adicione aqui qualquer lógica para atualizar a interface sem recarregar a página
                })
                .catch(error => {
                    console.error('Erro ao excluir o item:', error);
                });
        }
            
        }
</script>