<style>
    .search-bar-container {
        position: relative;
        width: 300px;
        margin-bottom: 10px;
    }

    .search-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        right: 1px;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: #C4170C;
        padding: 10px;
        border-radius: 0 5px 5px 0;
    }

    .search-icon i {
        color: white;
    }

    .table-rounded {
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-rounded thead tr th:first-child {
        border-top-left-radius: 10px;
    }

    .table-rounded thead tr th:last-child {
        border-top-right-radius: 10px;
    }
</style>


<div class="container"><br>
    <h1 class="text-analytics text-analytics-font  mx-2 bi bi-person-x mt-4 "> <strong> Usuários Desativados</strong>
    </h1>

    <div class="search-bar-container">
        <input type="text" class="search-input" id="searchInput" placeholder="Pesquisar...">
        <div class="search-icon">
            <i class="bi bi-search"></i>
        </div>
    </div>
    <div class="container"><br>

        <div class="btn">
            <a href="/listar-aprovados" class="mb-3 btn btn-danger btn-submit-analitic">Controle</a>
        </div>

        <div class="table-responsive">

            <table class="table table-rounded align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr class="table-danger">
                        <th>Usuário</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                {{#each user}}
                {{#unless approved}}

                 


                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                               {{#if profilePicture}}
                                    <img src="{{profilePicture}}" alt="Imagem de Perfil" style="width: 45px; height: 45px" class="rounded-circle" />
                                {{else}}
                                    <img src="/user/img/user.png" alt="Imagem Padrão de Perfil" style="width: 45px; height: 45px" class="rounded-circle" />
                                {{/if}}
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{name}}</p>
                                    <p class="text-muted mb-0">{{email}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{cpf}}</p>
                        </td>
                
                        <td>{{phone}}</td>
                        <td>
                            <form action="/approve-user/{{_id}}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-success"><i
                                        class="bi bi-check2-circle"></i>Ativar</button>
                            </form>
                        </td>
                    </tr>

                </tbody>
                {{/unless}}
                {{else}}
                <H4 class="mt-3">Nenhum usuário pendente!</H4>
                {{/each}}
            </table><br>
        </div>
    </div>
</div>

<script>
    const searchInput = document.querySelector('.search-input');
    const searchIcon = document.querySelector('.search-icon');

    searchIcon.addEventListener('click', function () {
        searchTable();
    });

    searchInput.addEventListener('input', function () {
        searchTable();
    });

    function searchTable() {
        const searchTerm = searchInput.value.toLowerCase();

        const table = document.querySelector('.table');
        const rows = table.querySelectorAll('tbody tr');

        rows.forEach(row => {
            const cells = row.querySelectorAll('td');
            let found = false;

            cells.forEach(cell => {
                if (cell.textContent.toLowerCase().includes(searchTerm)) {
                    found = true;
                }
            });

            if (found) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    }
</script>