<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Adicionar Administrador</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body mx-3">
                <form id="adminForm">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Nome</label>
                        <input type="text" id="orangeForm-name" name="name" placeholder="Insira seu nome completo"
                            required class="form-control validate">
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-email">E-mail</label>
                        <input type="email" id="orangeForm-email" name="email" placeholder="Insira seu e-mail" required
                            class="form-control validate">
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-map-marker-alt prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Endereço</label>
                        <input type="text" id="orangeForm-address" name="address" placeholder="Insira seu endereço"
                            required class="form-control validate">
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-id-card prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">CPF</label>
                        <input type="text" id="orangeForm-cpf" name="cpf" placeholder="Insira seu CPF" required
                            class="form-control validate">
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-phone prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Telefone</label>
                        <input type="text" id="orangeForm-phone" name="phone" placeholder="Insira seu telefone" required
                            class="form-control validate">
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Senha</label>
                        <input type="password" id="orangeForm-pass" name="password" placeholder="Insira sua senha"
                            required class="form-control validate">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="submitAdminForm" class="btn btn-deep-orange">Adicionar</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>

    document.getElementById('submitAdminForm').addEventListener('click', function (event) {
        event.preventDefault();

        var form = document.getElementById('adminForm');
        var formData = $(form).serializeArray();

        var isValid = true;
        formData.forEach(function (field) {
            if (field.value.trim() === '') {
                isValid = false;
            }
        });

        var password = formData.find(field => field.name === 'password').value;
        if (password.length < 4) {
            alert('A senha deve ter pelo menos 4 caracteres.');
            return;
        }


        if (!isValid) {
            alert('Por favor, preencha todos os campos do formulário.');
            return;
        }

        var jsonData = {};
        formData.forEach(function (field) {
            jsonData[field.name] = field.value;
        });

        fetch('/adicionar-adm', {
            method: 'POST',
            body: JSON.stringify(jsonData),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/listar-aprovados';
                } else {
                    throw new Error('Erro ao adicionar administrador');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
    });



</script>

<div class="container">

    <br>
    <h1 class="text-analytics text-analytics-font  mx-2 bi bi-person mt-4 "> <strong> Controle de Usuários</strong></h1>

    <div class="search-bar-container">
        <input type="text" class="search-input" id="searchInput" placeholder="Pesquisar...">
        <div class="search-icon">
            <i class="bi bi-search"></i>
        </div>
    </div>


    <div class="container table-responsive"><br>
        <div class="btn">
            <div class="btn">
                <a href="#" class="mb-3 btn btn-danger btn-submit-analitic" data-toggle="modal" data-target="#modalRegisterForm">Adicionar
                    Adm</a>
            </div>
        </div>


      <div class="table-responsive">
    <table class="table table-rounded align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr class="table-danger">
                <th>Usuário</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each user}}
                {{#if approved}}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                {{#if profilePicture}}
                                    <img src="{{profilePicture}}" alt="Imagem de Perfil" style="width: 45px; height: 45px" class="rounded-circle" />
                                {{else}}
                                    <img src="/user/img/user.png" alt="Imagem Padrão de Perfil" style="width: 45px; height: 45px" class="rounded-circle" />
                                {{/if}}
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{name}}</p>
                                    <p class="text-muted mb-0">{{email}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{cpf}}</p>
                        </td>
                        {{!-- <td>
                            <span class="badge badge-success rounded-pill d-inline">Active</span>
                        </td> --}}
                        <td>{{phone}}</td>
                        <td>
                            <form action="/deny-user/{{_id}}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger"><i class="bi bi-person-x"></i>Desativar</button>
                            </form>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
            {{#unless user}}
                <tr>
                    <td colspan="4"><h4 class="mt-3">Nenhum usuário cadastrado!</h4></td>
                </tr>
            {{/unless}}
        </tbody>
    </table>
</div>


<script>
    const searchInput = document.querySelector('.search-input');
    const searchIcon = document.querySelector('.search-icon');

    searchIcon.addEventListener('click', function () {
        searchTable();
    });

    searchInput.addEventListener('input', function () {
        searchTable();
    });

    function searchTable() {
        const searchTerm = searchInput.value.toLowerCase();

        const table = document.querySelector('.table');
        const rows = table.querySelectorAll('tbody tr');

        rows.forEach(row => {
            const cells = row.querySelectorAll('td');
            let found = false;

            cells.forEach(cell => {
                if (cell.textContent.toLowerCase().includes(searchTerm)) {
                    found = true;
                }
            });

            if (found) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    }
</script>